<!DOCTYPE html>
<html>
    <head>
        <title>Habit Tracker</title>
        <link rel = "stylesheet" href = "../static/style.css">
    </head>
<body class = 'centered_layout'>
    
<h1 id = "title">Habit Tracker</h1>

<div id = "loginDiv" class = "homeDiv">
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" placeholder="Username" name = "username" required autocomplete="off">
        <input type="password" placeholder="Password" name = "password" required>
        <div id = "loginAlternative">
            <a id = "register">Register</a>
        </div>
        <button id = "loginButton" class = "button" type="submit">Login</button>
    </form>
</div>

<div id="registerDiv" style="display: none" class = "homeDiv">
    <h1>Register</h1>
    <form action="/register" method="post">
        <input type="text" placeholder="Username" name="username" required autocomplete="off">
        <input type="password" placeholder="Password" name="password" required>
        <button id="registerButton" class = "button" type="submit">Create</button>
    </form>
</div>

<script src = "../static/script.js"></script>
</body>
</html>