<!DOCTYPE html>
<html>
    <head>
        <title>Habit Tracker</title>
        <link rel = "stylesheet" href = "../static/style.css">
    </head>
<body>
    
<h1 id = "title">Habit Tracker</h1>

<div id = "loginDiv" class = "homeDiv">
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" placeholder="Username" name = "username" required>
        <input type="password" placeholder="Password" name = "password" required>
        <div id = "loginAlternative">
            <a id = "register">Register</a>
            <a id = "pwd">Forgot</a>
        </div>
        <button id = "loginButton" class = "button" type="submit">Login</button>
    </form>
</div>

<div id="registerDiv" style="display: none" class = "homeDiv">
    <h1>Register</h1>
    <form action="/register" method="post">
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="password" placeholder="Confirm password" name="confirmPassword" required>
        <button id="registerButton" class = "button" type="submit">Create</button>
    </form>
</div>

<div id="forgotDiv" style="display: none" class = "homeDiv">
    <h1>Forgot Password</h1>
    <form id = "requestOTP" action="/getOTP" method="post">
        <input type="text" placeholder="Username" name="username" required>
        <button id="pwdButton" class = "button" type="submit">Submit</button>
    </form>

    <form id = "authentication" action="/verifyOTP" method="post">
        <input type="text" placeholder="OTP" name="otp" required>
        <button id="otpButton" class = "button" type="submit">Submit</button>
    </form>
</div>

<script src = "../static/script.js"></script>
</body>
</html>