<!DOCTYPE html>
<html>

<head>
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div id="habitHead" class="homeDiv" style="display: flex;">
        <h1 style="text-transform: uppercase;">Welcome, {{ name }}!</h1>
        <div id="addNewHabit" onclick="openModal()">+</div>
    </div>
    
    <div id = "habitList"></div>

    <div id="habitModal" class="modalOverlay" style="display: none;">
        <div class="modalContent">
            <h2>New Habit</h2>
            <form action="/addHabit" method="post">
                <input type="text" name="habit" placeholder="eg. Reading" required autocomplete="off">
                <div class="modalButtons">
                    <button type="submit" style="background-color: lightgreen;">Save</button>
                    <button type="button" onclick="closeModal()" style="background-color: lightcoral;">Cancel</button>
                </div>
            </form>
        </div>
    </div>


    <script>
        const daysInMonth = {{numDays}};
        const habits = {{habitList}};
        const habitLog = {{habitDates}}
    </script>
    <script src = "../static/auth.js"></script>
</body>

</html>